#忽略.idea文件夹及文件夹下文件
Library/
obj/
Logs/
ServerData/
UserSettings/
WechatProject/
Temp/

Library
obj
Logs
ServerData
UserSettings
WechatProject
Temp

.Library
.obj
.Logs
.ServerData
.UserSettings
.WechatProject
.Temp




